@import './common';
@import '@material/textfield/mdc-text-field';
@import '@material/button/mdc-button';

.header {
	text-align: center;
}

.logo {
	width: 150px;
	height: 150px;
	padding-top: 80px;
	fill: currentColor;
}

.username,
.password {
	display: block;
	width: 300px;
	margin: 20px auto;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	width: 300px;
	margin: auto;
}

.forgot {
	width: 300px;
	margin: auto;
	text-align: center;
	padding-top: 30px;

	a {
		text-decoration: none;
		color: rgba($color: #000000, $alpha: 0.6);
	}
}

.button-container button {
	margin: 3px;
}
